@model IEnumerable<ShopFI.Entities.Models.Item>

@{
    ViewBag.Title = "Index";
}

<style>

    h1{
        text-align:center;
        font-family:Algerian;
    }
    body{
        font-family:Algerian;
    }
    .attribute {
        font-weight:bold;
      
    }
    .viewItems {
        margin-top:20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-color:#4198f7;
        border-style:ridge;
        text-align:center;
    }
    .imgItem {
        width: 400px;
        height: 400px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 12px;
    }

</style>

<h1>Advertisments -->  @Html.ActionLink("Create AD", "Create")</h1>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="view">
            <div class="viewItems">
                <img class="imgItem" src="@item.ImgUrl" alt="@item.Title" />
                <div class="seconcontainer">
                    <div class="inner">
                        <p class="attribute">
                            @Html.DisplayNameFor(model => model.Category.Name) :
                            @Html.DisplayFor(model => @item.Category.Name)                       
                        <p class="attribute">Title :  @item.Title</p>
                        <p class="attribute">Price :  @item.Price</p>
                        <p class="attribute">Decription :  @item.Description</p>
                        <p class="attribute">Performer :  @item.Performer.UserName</p>
                        <p class="data">Date :  @item.DateCreated</p>
                        <hr />
                        <p class="attribute">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



